<div class="col-md-8 offset-md-2">
    <div class="card card-body text-center">
      <h3>Matricula: {{reposicion.matricula}}</h3>
      <p>Fecha: {{reposicion.fecha}}</p>
      <p>Expediente: {{reposicion.expediente}}</p>
      <p>Entregado Por: {{reposicion.entregadoPor}}</p>
      <p>ID Calle: {{reposicion.idCalle}}</p>
      <p>Número Calle: {{reposicion.numCalle}}</p>
      <p>ID Actividad: {{reposicion.idActividad}}</p>
      <p>Número de Órden: {{reposicion.numOrden}}</p>
      <p>Causa: {{reposicion.causa}}</p>
      <p>DNIS: {{reposicion.DNIS}}</p>
      <p>Receptor: {{reposicion.receptor}}</p>
      <p>DNIR: {{reposicion.DNIR}}</p>
      <p>Asignatario: {{reposicion.asignatario}}</p>
      <p>DNIA: {{reposicion.DNIA}}</p>
    </div>
  </div>